{% extends 'base.html.twig' %}

{% block body %}
    <h1>Questions list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('appform_question_edit', { 'id': question.id, 'appform_id': appform_id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appform_question_new', { 'appform_id': appform_id }) }}">Create a new question</a>
        </li>
    </ul>
{% endblock %}
