.actions ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

.actions a {
    margin-bottom: 5px;
    width: 100%;
}

.answer {
    text-align: center;
    vertical-align: middle;
}

.custom-table {
    word-wrap: break-word;
    table-layout:fixed;
    width: 100%;
}

.forms {
    margin-top: 15px;
}

.header {
    text-align: center;
    vertical-align: middle;
}

.questions {
    margin-top: 30px;
    margin-bottom: 30px;
}

td {
    vertical-align: middle;
}
