.actions ul {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.actions a {
    margin-bottom: 5px;
    width: 100%;
}

.answer {
    text-align: center;
    vertical-align: middle;
}

#appbundle_question_text {
    width: 100%;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}

.custom-table {
    word-wrap: break-word;
    table-layout:fixed;
    width: 100%;
}

.form-actions {
    width: 35%;
    margin: 0 auto;
    list-style-type: none;
}

.form-actions form {
    display: inline;
}

.form-actions li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

.forms {
    margin-top: 15px;
}

.header {
    text-align: center;
    vertical-align: middle;
}

.new-question-form{
    display: table;
    width: 80%;
}

.new-question-item {
    display: table-cell;
    vertical-align: middle;
}

.new-question-item button {
    height: 34px;
    margin-left: 10px;
}

.new-question-item textarea {
    height: 34px;
}

.questions {
    margin-top: 30px;
    margin-bottom: 30px;
}

td {
    vertical-align: middle;
}
