{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formanswer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formAnswer.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('appform_formanswer_index', { 'appform_id': appform_id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('appform_formanswer_edit', { 'id': formAnswer.id, 'appform_id': appform_id }) }}">Edit</a>
        </li>
    </ul>
{% endblock %}
